{% extends "base.html" %}

{% load crispy_forms_tags %}




{% block content %}


<script>
  


  function deleteDocente(id) {
    console.log('DELETE DOCENTE', id)


    if(confirm("Sicuro di voler eliminare questo docente?")){
          $.get( "deletedocente/?delete=" + id, function( data ) { 
      console.log('->', data)


    });
    $("#docente_row_"+id).hide();
    }
    else{
        return false;
    }
    
  
  }


</script>



 <div class="row" style="margin-top: 25px;">

            <div class="col-1">
            </div>
            <div class="col-12">
              <div class="table-responsive">
<table class="table table-bordered table-light">
  <thead class="thead-dark ">
    <tr >
                          <th scope="col" >Nome docente</th>
                          <th scope="col">Curriculum</th>
                          <th scope="col">Autocertificazione</th>
                           <th scope="col"></th>
     

     
                        </tr>
                      </thead>
                      <tbody>

                        {% for a in docenti %}
                        
                        <tr id="docente_row_{{ a.id }}">
                          <th scope="row" >{{a.nome_cognome}}</th>
                          <td style="max-width: 200px; overflow: hidden;"><a href="/media/{{a.curriculum}}">{{ a.curriculum }}</a></td>
                          <td style="max-width: 200px; overflow: hidden;"><a href="/media/{{a.autocertificazione}}">{{ a.autocertificazione }}</a></td>
                          <td><a class="btn btn-warning"  href="/account/docente/{{a.id}}/">Modificare</a> 
                            <button type="button" onclick="deleteDocente({{ a.id }})" class="btn btn-danger">Cancellare</button>



                          </td>



                        </tr>


                                <div class="modal fade" id="anulladocente" tabindex="-1" role="dialog" aria-labelledby="anulladocentelabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                  <div class="modal-body">
                                     <div class="alert alert-warning" role="alert">
                                      Sicuro di voler cancellare docente selezionato?
                                    </div>

                                  </div>
                                  <div class="modal-footer">
                                     <button type="button" class="btn btn-success"" data-dismiss="modal" aria-label="Close">Chiudere
   
                                    </button>

                                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteDocente({{ a.id }})">Cancellare {{ a.id }}</button>
                                  </div>
                                </div>
                              </div>
                            </div>


                 
                        
                        {% endfor %}


                    

                          

                      </tbody>
                    </table>
                  </div>
      



<br><br>



<div class="table-responsive">
<table class="table table-bordered table-light">
  <thead class="thead-dark ">
    <tr>
                          <th scope="col" >Nome corsista</th>
                          <th scope="col" >Cognome corsista</th>
                          <th scope="col">Sesso</th>
                          <th scope="col" >Data nascita</th>
                          <th scope="col">Codice fiscale</th>
             
     

     
                        </tr>
                      </thead>
                      <tbody>


                         {% for a in corsisti_table %}
                        
                        <tr>
                          <td>{{a.nome}}</td>
                          <td>{{ a.cognome }}</td>
                          <td>{{ a.sesso }}</td>
                          <td>{{ a.datanascita }}</td>
                          <td>{{ a.cf }}</td>
                     


                        </tr>
                        
                        {% endfor %}



                  

                          

                      </tbody>
                    </table>
                  </div>


         
            </div>
          
</div>







{% endblock %}