    {% extends "base.html" %}

    {% load crispy_forms_tags %}

    {% block content %}

    {% if user.is_authenticated %}

    <script>
$(document).ready(function(){
  $("#protocollo_search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });



});
</script>


<script>

  

  $( document ).ready(function() {
    console.log( "ready!" );
    $('#corses_all_div').show();
  });

  function deleteCourse(id) {

    if(confirm("Sicuro di voler eliminare questo corso?")){
        $("#corso_row_"+id).hide();
    $.get( "deletecorso/?delete=" + id, function( data ) { 
      console.log('->', data)


    });
    }
    else{
        return false;
    }
    
  }


</script>

<!--<script>$('.container').css("background-color","#e5f2e8");</script>-->

          <div class="row" style="margin-top: 25px;">
            <div class="col-12">

{% if not corses %}

              Non ci sono corsi attivi <br><br>

{% else %}


<div id="corses_all_div" class="hidden_corses">

  <input style="margin-bottom: 15px; width:45%" id="protocollo_search" type="text" placeholder="Inserire numero protocollo per ricercare il corso">


<div class="table-responsive">
                <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

                           

  
                          {% if corses %}
                             {% for corso in corses %}
                        <tr id="corso_row_{{ corso.id }}">
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                          {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>

  {% if corso.autorizzato == True %}

    <a class="dropdown-item" href="/account/richiesta_attestati/{{ corso.id }}">Richiedi rilascio attestati</a>





    <a class="dropdown-item" href="/account/richiesta_tesserini/{{ corso.id }}">Richiedi rilascio tesserini</a>

      {% if corso.fattura_pagata == True %}
          {% if corso.convalidato == True %}
    <a class="dropdown-item" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>

          {% endif %}

    {% else %}
<a class="dropdown-item disabled" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>

      {% endif %}

    <a class="dropdown-item" href="/account/lettera_autorizzazione/{{ corso.id }}">Lettera autorizzazione</a>
  {% endif %}

    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>
  


  </div>
</div> </td>
                        </tr>

              

                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>
                  </div>
</div>


<div id="corses_atteso_autorizzazione_div" class="hidden_corses">

   <p class="font-weight-bold">Corsi in attesa di autorizzazione</p>



     <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

  
                          {% if corses_atteso_autorizzazione %}
                             {% for corso in corses_atteso_autorizzazione %}
                        <tr>
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                           {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>
  
 

    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>


  </div>
</div> </td>
                        </tr>

     

                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>

</div>

<div id="corses_autorizzato_div" class="hidden_corses">

    <p class="font-weight-bold">Corsi autorizzati </p>

     <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

  
                          {% if corses_autorizzato %}
                             {% for corso in corses_autorizzato %}
                        <tr>
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                          {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>
 {% if corso.autorizzato == True %}
    <a class="dropdown-item" href="/account/richiesta_attestati/{{ corso.id }}">Richiedi rilascio attestati</a>
    <a class="dropdown-item" href="/account/richiesta_tesserini/{{ corso.id }}">Richiedi rilascio tesserini</a>

      {% if corso.fattura_pagata == True %}
    <a class="dropdown-item disabled" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>
      {% endif %}
    <a class="dropdown-item" href="/account/lettera_autorizzazione/{{ corso.id }}">Lettera autorizzazione</a>
  {% endif %}

    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>


  </div>
</div> </td>
                        </tr>



                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>

</div>


<div id="corses_richiesta_modifica_div" class="hidden_corses">

    <p class="font-weight-bold">Richiesta modifica</p>

     <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

  
                          {% if corses_richiesta_modifica %}
                             {% for corso in corses_richiesta_modifica %}
                        <tr>
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                          {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>
 

    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>


  </div>
</div> </td>
                        </tr>

                       

                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>

</div>


<div id="corses_richiesta_rilascio_attestati_div" class="hidden_corses">

   <p class="font-weight-bold">Richiesta rilascio attestati</p>

     <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

  
                          {% if corses_richiesta_rilascio_attestati %}
                             {% for corso in corses_richiesta_rilascio_attestati %}
                        <tr>
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                           {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>

    <a class="dropdown-item" href="/account/richiesta_attestati/{{ corso.id }}">Richiedi rilascio attestati</a>
    <a class="dropdown-item" href="/account/richiesta_tesserini/{{ corso.id }}">Richiedi rilascio tesserini</a>

      {% if corso.fattura_pagata == True %}
    <a class="dropdown-item disabled" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>
      {% endif %}
    <a class="dropdown-item" href="/account/lettera_autorizzazione/{{ corso.id }}">Lettera autorizzazione</a>


    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>


  </div>
</div> </td>
                        </tr>

       

                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>

</div>


<div id="corses_convalidato_div" class="hidden_corses">

 <p class="font-weight-bold">Corsi convalidati</p>

     <table class="table table-bordered table-light">
  <thead class="thead-dark ">
                        <tr>
                          <th scope="col" class="thcustomwidth-numero">Protocollo</th>
                          <th scope="col">Tipologia corso</th>
                          <th scope="col" class="thcustomwidth">Autorizzato</th>
                          <th scope="col">Categoria</th>
                          <th scope="col">Indirizzo</th>
                          <th scope="col" class="thcustomwidth">Data inizio</th>
                          <th scope="col" class="thcustomwidth">Data fine</th>
                          <th scope="col" class="thcustomwidth">Azioni</th>
                        </tr>
                      </thead>
                      <tbody>

  
                          {% if corses_convalidato %}
                             {% for corso in corses_convalidato %}
                        <tr>
                          <th scope="row">{{corso.protocollo}}</th>
                          <td>{{ corso.tipologia }}</td>
                          <td>
                           {% if corso.autorizzato == True %}
                          Autorizzato
                          {% else %}
                          Non autorizzato
                          {% endif %}
                        </td>
                          <td>{{ corso.categoria }}</td>
                          <td>{{ corso.indirizzo }}</td>
                          <td>{{ corso.data_inizio }}</td>
                          <td>{{ corso.data_fine }}</td>
                          <td> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Azioni</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" href="/account/modificacorso/{{ corso.id }}">Visualizza/Modifica</a>

    <a class="dropdown-item" href="/account/richiesta_attestati/{{ corso.id }}">Richiedi rilascio attestati</a>
    <a class="dropdown-item" href="/account/richiesta_tesserini/{{ corso.id }}">Richiedi rilascio tesserini</a>

       {% if corso.fattura_pagata == True %}
          {% if corso.convalidato == True %}
    <a class="dropdown-item" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>

          {% endif %}

    {% else %}
<a class="dropdown-item disabled" href="/account/stampare_corsisti/{{ corso.id }}">Stampare gli attestati</a>

      {% endif %}
    <a class="dropdown-item" href="/account/lettera_autorizzazione/{{ corso.id }}">Lettera autorizzazione</a>


    <a class="dropdown-item" onclick="deleteCourse({{ corso.id }})" href="#">Anulla</a>


  </div>
</div> </td>
                        </tr>


                            {% endfor %}
                         {% endif %}
     


                      </tbody>
                    </table>

</div>











         
            </div>
          
          </div>


          {% endif %}

            
                              



           {% else %} 


            Accesso negato



          {% endif %}


  {% endblock %}
