{% extends "base.html" %}

{% load crispy_forms_tags %}




{% block content %}





 <div class="row" style="margin-top: 25px;">
            <div class="col-12">
              {% if impostazioni %}
              <div class="alert alert-info" role="alert" >

               <div class="text-center">

                <br><h5 class="font-weight-bold">Sono stati preparati gli attestati per i segueni corsisti:</h5><br><br>
              </div>

                       <table class="table">
                      <thead>
                        <tr>
                          <th scope="col" >Nome corsista</th>
                          <th scope="col" >Cognome corsista</th>
                          <th scope="col">Codice fiscale</th>
                          <th scope="col">Stampare</th>
     

     
                        </tr>
                      </thead>
                      <tbody>

                        {% for a in corsisti %}
                        
                        <tr>
                          <td>{{a.nome}}</td>
                          <td>{{a.cognome}}</td>
                          <td>{{ a.cf }}</td>
                          <td><a class="btn btn-success" style="margin-bottom: 5px;" href="/account/attestato_pdf/{{corso.id}}/{{a.cf}}/">Attestato in *PDF</a>  
                            </td>

                        </tr>
                        
                        {% endfor %}


                    

                          

                      </tbody>
                    </table>
                  </div>


                {% else %}

                Per stampare gli attestati bisogna <a href="/account/impostazioni/">caricare la firma digitale</a>

                {% endif %}

          </div>

         
  </div>
          







{% endblock %}