<!doctype html>



<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Paracartoon">
	
	<meta name="keywords" content="formazione, sicurezza, lavoro, 81/08, attrezzature da lavoro"/>
	<meta name="description" content="Ente Datoriale per la Formazione di Imprese e Lavoratori"/>

	<meta property="og:url" content="http://mgi.riberadig.it/" />

	<meta property="fb:admins" content="kate.dmitrieva" />
	<meta property="fb:app_id" content="803056506483913">
	<meta property="og:title" content="Jewels by Love | Exquisite Jewels and Rare Timepieces in St.Martin / St.Maarten" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="http://jewelsbylove.com/static/images/jbl-big-logo.jpg" />
	<meta property="og:description" content="Jewels by Love: fine timepieces and jewelry in St. Martin">

	<meta name="theme-color" content="black" />

	<link href='https://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	
    {% block title %}<title>EDAFIL | Ente Datoriale per la Formazione di Imprese e Lavoratori</title>{% endblock %}

	{% load static %}
    <link rel="stylesheet" href="{% static 'css/base-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">


	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

   </head>

   <body>

   	<div class="container-fluid">




	   			 <div class="row" style="    background-color: #f8f9fa;
	    				box-shadow: 5px 5px 8px;
    color: #58775f;">

   			 	
   			 		

						 
						 <nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 12%;">
								  <a class="navbar-brand" href="/"><img src="{% static 'img/logo-edafil_sm.png' %}" class="logo-edafil d-inline-block align-top"></a>
								  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								    <span class="navbar-toggler-icon"></span>
								  </button>

								  <div class="collapse navbar-collapse" id="navbarSupportedContent">
								    <ul class="navbar-nav mr-auto">
								      <li class="nav-item active">
								        <a class="nav-link" href="#"><i class="fas fa-book-reader"></i> Corsi in aula</a>
								      </li>
			

								      <li class="nav-item dropdown">
								        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								          <i class="far fa-address-card"></i> Anagrafiche
								        </a>
								        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								          <a class="dropdown-item" href="#">Direttori</a>
								          <a class="dropdown-item" href="#">Docenti</a>
								          <a class="dropdown-item" href="#">Corsisti</a>
								          <div class="dropdown-divider"></div>
								          <a class="dropdown-item" href="#">Attestati</a>
								        </div>
								      </li>
								      <li class="nav-item">
								        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop"></i> Corsi online</a>
								      </li>
								      <li class="nav-item">
								        <a class="nav-link" href="#"><i class="fas fa-file-download"></i> Area download</a>
								      </li>

								       <li class="nav-item">
								        <a class="nav-link" href="#"><i class="fas fa-scroll"></i> Fatture</a>
								      </li>

								      <li class="nav-item dropdown">
								        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i> Impostazioni</a>

								        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
								          <a class="dropdown-item" href="#">Logo</a>
								          <a class="dropdown-item" href="#">Firma digitale</a>

								          <div class="dropdown-divider"></div>
								          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Esci</a>
								        </div>
								      </li>
								    </ul>
								    <form class="form-inline my-2 my-lg-0">
								      <input class="form-control mr-sm-2" type="search" placeholder="Cerca" aria-label="Search">
								      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
								    </form>
								  </div>
								</nav>


			</div>

   		<div class="container" style="background-color: #f8f9fa; padding-top:25px; padding-bottom: 25px; margin-top:25px; margin-bottom: 55px; margin-left: 17%; border-radius: 5px;">
   		{% block content %}
        
        {% endblock %}
       </div>

        					   

    	</div>

    		<div style="height: auto; background-color: #8e9e92; margin-top: 55px; margin-bottom: 0; color:black; padding-bottom: 15px;">

    				<nav class="navbar" style="height: 100px; width: 50% !important; margin-left: 23%;">


    	
								        <a class="nav-link nav-link-black" href="#"><i class="fas fa-book-reader"></i> Corsi in aula</a>

			

								        <a class="nav-link nav-link-black" href="#" >
								          <i class="far fa-address-card"></i> Anagrafiche
								        </a>
				

								        <a class="nav-link nav-link-black" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-laptop"></i> Corsi online</a>


								        <a class="nav-link nav-link-black" href="#"><i class="fas fa-file-download"></i> Area download</a>
				

							
								        <a class="nav-link nav-link-black" href="#"><i class="fas fa-scroll"></i> Fatture</a>
								

								
								        <a class="nav-link nav-link-black" href="#"><i class="fas fa-cog"></i> Impostazioni</a>

						
								   
						</nav>		



        					   	 <p class="text-center" style="margin-bottom: 0; color:#423b3b">
                                   Privacy Policy EDAFIL | Ente Datoriale per la Formazione di Imprese e Lavoratori, 2019 (c)
                                </p>
            </div>






   	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
   </body>


</html>



