 {% extends "base_white.html" %}

    {% block content %}
     <div class="row">

    <div class="col-md-12" >

  
              <div class="card">

              	<div class="card-header">
              		<br><p class="font-weight-bold header-sito"><i class="fas fa-question-circle"></i>  Ente Datoriale per la Formazione di Imprese e Lavoratori </p>
              	</div>

              	<div class="card-body">


							EDAFIL è soggetto formatore di derivazione sindacale in possesso di tutti i requisiti previsti
							dalla legge ed abilitato a svolgere attività formativa di cui agli articoli 32, c.2, 37 e 98, c.2,
							d.lgs.81/08 e più in generale attività formativa di tutti i soggetti del sistema prevenzionistico
							individuati dalla normativa vigente e dagli accordi Stato – Regione.
							<br><br>
							EDAFIL è organizzazione sindacale datoriale accreditata dalla Regione Sicilia ed ha lo scopo
							di rappresentare aziende e professionisti che svolgano attività di consulenza e formazione
							anche attraverso convenzioni con associazioni sindacali e datoriali che godono della maggiore
							rappresentatività comparata; opera a norma di legge, effettuando attività formativa tramite le
							proprie sedi territoriali secondarie.
							<br><br>
							EDAFIL offre ai propri associati moderne piattaforme gestionali per la formazione in aula e
							Fad, che ne fanno un “punto di riferimento” nel mondo della formazione in materia di salute e
							sicurezza nei luoghi di lavoro.

</div>
</div>



</div>
</div>



  {% endblock %}