 {% extends "base_white.html" %}

    {% block content %}
         <div class="row">

    <div class="col-md-12" >

  
              <div class="card">

                <div class="card-header">
                  <br><p class="font-weight-bold header-sito"><i class="fas fa-book-reader"></i> Corsi di formazione | EDAFAD – LA PIATTAFORMA INFORMATICA DELL’EDAFIL</p>

                </div>

                <div class="card-body">


							L’Edafil offre, la possibilità di erogare corsi di formazione per la sicurezza sui
luoghi di lavoro previsti dal decreto 81/08 e accordi STATO-REGIONI,
attraverso una piattaforma del tutto nuova, denominata EDAFAD, creata e
gestita interamente dallo stesso ente.
							<br><br>
							All’interno di essa si ha la possibilità di poter richiedere corsi in modalità aula,

inoltre vi è anche l’opportunità di poter richiedere per i corsi che lo prevedono,
i patentini plastificati per ogni singolo lavoratore/corsista.
							<br><br>
							All’interno della piattaforma, è presente per ogni tipologia di corso il materiale
didattico (dispense), che possibile scaricare gratuitamente, per poi distribuirlo
ai corsisti iscritti ai vari corsi, disponibile sia in formato cartaceo che digitale. Il
centro di formazione convenzionato con l’EDAFIL mediante l’uso della
piattaforma EDAFAD potrà richiedere le autorizzazioni per diversi tipi di corsi:

<p class="font-weight-bold">CORSI SULLA SICUREZZA SUL LAVORO
Corsi di formazione per la sicurezza sui luoghi di lavoro
previsti dal decreto 81/08 e accordi STATO-REGIONI.</p>

</div>
</div>



</div>
</div>



  {% endblock %}