   {% extends "base_white.html" %}

    {% block content %}
     <div class="row">

    <div class="col-md-12" >

          <div class="d-flex justify-content-center">
              <div class="row">
              	<div class="text-center">
                  <br>
                 
								<p>
								      Egregio Convenzionato,
								la ringraziamo per aver effettuato sulla piattaforma Esafad la richiesta di modifica corso selezionato.
								<br><br>
								Un nostro operatore esaminerà a breve la richiesta e Le arriverà una notifica appena verrà evasa. 
								</p>

</div>
</div>


</div>
</div>
</div>



  {% endblock %}