  {% extends "base_white.html" %}
    {% load staticfiles%}

    {% block content %}
     <div class="row">

    <div class="col-md-12" >

  
              <div class="card">

              	<div class="card-header">
              		<br><p class="font-weight-bold header-sito"><i class="fas fa-user-friends"></i> Diventa Centro di Formazione</p>

              	</div>

              	<div class="card-body">
<p class="font-weight-bold">Diventare un centro di Formazione Autorizzato EDAFIL è semplice e veloce.</p>
    <br><br>Di seguito le indicazioni per potersi convenzionare all’ente.
<br><br>1. Scarica tutta la documentazione necessaria all’apertura del centro di formazione
<br><br>2. Compila tutti i moduli
<br><br>3. Allega i documenti richiesti
<br><br>4. invia il tutto mezzo mail a adesione@edafil.org
<br><br><p class="font-weight-bold">Documenti obbligatori richiesti:</p>
<ul>
 <li>Modulo di richiesta adesione compilato e firmato “lettera di presentazione EDAFIL“) (<a href="/static/pdf/edafil_modulo_adesione.pdf">link per modulo</a>)</li>
 <li>Visura Camerale o Certificato di attribuzione della Partita Iva;</li>
 <li>Documento d’identità del legale rappresentante;</li>
 <li>Codice fiscale;</li>
 <li>Curriculum Vitae (europeo/ europass)  legale rappresentante/ libero professionista responsabile dei progetti formativi;</li>
<li>Autocertificazione</li>
</ul>

<br><br>Si ricorda che, per aderire a l’EDAFIL  è necessario operare nel settore della formazione e sicurezza nei luoghi di lavoro (D.Lgs. 81/08 – D.Lgs. 106/09) possibilmente vantando un’esperienza triennale.
 
<br><br><p class="font-weight-bold">Per maggiori chiarimenti e informazioni contattare i seguenti numeri telefonici: 095- 5861355 o inviare una mail a:
“adesione@edafil.org” per la richiesta di Adesione all’EDAFIL;</p>



</div>
</div>



</div>
</div>



  {% endblock %}