 {% extends "base_white.html" %}
    {% load staticfiles%}

    {% block content %}
     <div class="row">

    <div class="col-md-12" >

  
              <div class="card">

              	<div class="card-header">
              		<br><p class="font-weight-bold header-sito"><i class="fas fa-id-card"></i> EDAFIL rilascia patentini per attrezzature da lavoro validi in Italia e nella Comunità Europea</p>

              	</div>

              	<div class="card-body">

                  Il patentino, comodo e tascabile in formato tessera, riporta tutti gli estremi del corsista abilitato e del corso autorizzato e, viene rilasciato su specifica richiesta al termine dei corsi di abilitazione per l’utilizzo delle macchine operatrici autorizzati da EDAFIL sulla piattaforma EDAFAD.

                  <img class="vetrofania" src="{% static 'img/transport.png' %}" style="width:80%;height:auto; display:block; margin-bottom: 15px; margin-top: 15px; margin-left: 8%;">


							

							<br><br>
							<p class="font-weight-bold">Possono essere richiesti i patentini per:</p>
              <ul>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI TRATTORI AGRICOLI O FORESTALI A RUOTE</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI TRATTORI AGRICOLI O FORESTALI A RUOTE E CINGOLI</li>
<li>OPERATORE ADDETTO ALLA CONDUZIONE DI ESCAVATORI IDRAULICI, CARICATRICI FRONTALI E TERNE</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI CARRELLI INDUSTRIALI SEMOVENTI, CARRELLI SEMOVENTI A BRACCIO TELESCOPICO E CARRELLI/SOLLEVATORI/ELEVATORI SEMOVENTI TELESCOPICI ROTATIVI CON CONDUCENTE A BORDO</li>
<li>OPERATORE MACCHINE COMPLESSE – PERFORATORE PICCOLO E GRANDE DIAMETRO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI PIATTAFORME DI LAVORO MOBILI ELEVABILI (PLE) CON STABILIZZATORI E SENZA STABILIZZATORI</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI PIATTAFORME DI LAVORO MOBILI ELEVABILI (PLE) SENZA STABILIZZATORI</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI PIATTAFORME DI LAVORO MOBILI ELEVABILI (PLE) CON STABILIZZATORI</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI GRU PER AUTOCARRO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI DUMPER</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI CARRELLI INDUSTRIALI SEMOVENTI CON CONDUCENTE A BORDO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI TERNE, ESCAVATORI IDRAULICI E PALE CARICATRICI FRONTALI</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI GRU A TORRE CON ROTAZIONE IN BASSO E IN ALTO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI POMPE PER CALCESTRUZZO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI ESCAVATORI IDRAULICI</li>
<li>OPERATORI ADDETTI ALL’UTILIZZO DELLA MOTOSEGA, DECESPUGLIATORE E ATTREZZATURA DA GIARDINAGGIO ( TAGLIASIEPI, TAGLIAERBA E MOTOTRIVELLA)</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI ESCAVATORI, PALE CARICATRICI FRONTALI, TERNE E AUTORIBALTABILI A CINGOLI</li>
<li>OPERATORE DI MACCHINE DA TRIVELLAZIONE E SONDAGGI</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI GRU MOBILI AUTOCARRATE E SEMOVENTI SU RUOTE CON BRACCIO TELESCOPICO O TRALICCIATO ED EVENTUALE FALCONE FISSO</li>
<li>OPERATORI ADDETTI ALLA CONDUZIONE DI ESCAVATORI IDRAULICI E CARICATORI FRONTALI</li>
<li>OPERATORE MACCHINE COMPLESSE – PERFORATORE PICCOLO DIAMETRO</li>
<li>OPERATORI ADDETTI ALL’UTILIZZO DELLA MOTOSEGA, DECESPUGLIATORE E ATTREZZATURA DA GIARDINAGGIO (TAGLIASIEPI, TAGLIAERBA E MOTOTRIVELLA)</li>
</ul>


</div>
</div>



</div>
</div>



  {% endblock %}