  {% extends "base_white.html" %}
    {% load staticfiles%}
    {% load crispy_forms_tags %}

    {% block content %}
     <div class="row">

    <div class="col-md-12" >

  
              <div class="card">

              	<div class="card-header">
              		<br><p class="font-weight-bold header-sito"><i class="fas fa-check"></i> Come verificare l’autenticità degli attestati </p>

              	</div>

              	<div class="card-body">
Tutti gli attestati rilasciati dall’EDAFIL tramite la piattaforma EDAFAD sono presenti all’interno di un database centralizzato al fine di verificare l’autenticità e la validità degli stessi. In calce ad ogni attestato è presente un identificativo numerico, ovvero un protocollo che unitamente ai dati anagrafici (nome e cognome) del corsista vanno inseriti nei rispettivi campi al fine di verificarne l’autenticità.

<br><br>Per la verifica degli attestati in aula rilasciati dalla piattaforma EDAFAD bisogna inserire come protocollo il numero di autorizzazione dell'attestato ad es. 1000, nome e cognome (come nell`attestato). La validità degli attestati rilasciati prima della data 6/05/2019 potrà essere verificata inviando una mail a  <span style="font-weight: 600;">verifica@edafil.org</span>.
<br><br>Se un attestato risulta non valido è opportuno inviare una mail a info@edafi.org allegando l’attestato oggetto di verifica e un nostro collaboratore risponderà prontamente fornendo le informazioni necessarie.
 
<br><br><p class="font-weight-bold">Campi per verificare l’attestato</p>


                           <form enctype="multipart/form-data" action='' method='POST'>

                                  {% csrf_token %}

                                  {{ form.protocollo|as_crispy_field }}

                                  {{ form.nome|as_crispy_field }}


                                   {{ form.cognome|as_crispy_field }}


                                  


                                  <button type="submit button" value="Submit"  class="btn btn-success">Verificare l'attestato</button>
                            </form>


<!--<ul>
  <li>Numero Protocollo</li>
  <li>Nome</li>
  <li>Cognome</li>

</ul>-->



</div>
</div>



</div>
</div>



  {% endblock %}