    {% extends "base.html" %}

    {% load crispy_forms_tags %}

    {% block content %}
     <div class="row" style="padding-top: 35px;">

    <div class="col-md-12" style="background-color: rgb(229, 242, 232); border-radius: 5px">

          <div class="d-flex justify-content-center">
              <div class="row">

                {% if form.errors %}
                  {{ form.errors }}

                  <p>Login/Password non valido</p>
                  {{ form.non_field_errors }}

                   {% endif %}
          

         <form enctype="multipart/form-data" action="{% url 'login' %}" method='POST' style="padding-bottom:25px">
          <h1 class="h3 mb-3 font-weight-normal">Accesso area riservata EDAFAD</h1>
          {% csrf_token %}

                 

        
         <div class="form-group">
                              
                              {{ form.username|as_crispy_field }}
          </div>
                            
         <div class="form-group">
                              {{ form.password|as_crispy_field }}
          </div>
        <br><br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Ricordare i miei credenziali
          </label>
        </div>

        <input type="hidden" name="next" value="/books/" />

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log-in"> Accedi</button>

      </form>

</div>


</div>
</div>
</div>



  {% endblock %}
