   <html>
    <body >



<p style=" margin-left:60%; position:absolute; width:30%; text-align:right;margin-top: 4.9cm; font-size:8pt; font-family: Arial, Helvetica, sans-serif;">Spett.le
<br>{{ nome_azienda }}
<br>{{indirizzo1 }}
<br>{{indirizzo2 }}</p>

<p style=" margin-left:5%; text-align: left; position:absolute; margin-top: 6.2cm; font-size:8pt; font-family: Arial, Helvetica, sans-serif;">Catania
<br>Prot. CFAE {{protocollo}} del {{data_richiesta}}
<br>Convenzione n. {{numero_convenzione}} del {{data_di_convenzione}}</p>


<p style="position:absolute;font-size:7pt; margin-top: 7.7cm;  margin-left:5%; font-family: Arial, Helvetica, sans-serif; font-weight: 900;">Oggetto</p>

<div style="height: 3.8cm;
            overflow: hidden; width:87%; margin-left:5%; text-align: justify; position:absolute; margin-top: 8cm; font-size:8pt; font-family: Arial, Helvetica, sans-serif;">Autorizzazione per la collaborazione e validazione del progetto formativo di {{ oretotale }} ore per il “{{ tipologia }} ({{ ref }}) della durata di {{ oretotale }} ore” da svolgere presso la sede di {{indirizzo}} -
{{cap}} - {{citta}} ({{provincia}}),

{% for i in lista_sv %}

in data {{ i.0 }} inizio a {{ i.1 }} (durata {{ i.2 }} ore)

	{% endfor %}.
<br>EDAFIL per esigenza organizzativa autorizza il suddetto corso per un massimo di {{posti}} partecipanti.
Direttore del corso: {{direttore}}. Docente: {{docente}} </div>

<p style="position:absolute;font-size:7pt; margin-top: 12cm;  margin-left:5%; font-family: Arial, Helvetica, sans-serif; font-weight: 900;">EDAFIL </p>

<p style="width:87%; margin-left:5%; text-align: justify; position:absolute; margin-top: 12.3cm; font-size:8pt; font-family: Arial, Helvetica, sans-serif;">Nell’ambito delle sue attribuzioni di legge relative a promuovere e validare per la collaborazione di
azioni di Informazione e Formazione ai sensi del D. Lgs 81/08 e s.m.i. delle figure professionali ai vari
livelli di competenza, avendo valutato attentamente la Progettazione Didattica del corso in oggetto
pervenuta, ritiene di poter esprimere parere positivo. La collaborazione della Vostra struttura con
EDAFIL, si concretizza attraverso la validazione del progetto formativo presentato risultante
conforme con quanto previsto dalla normativa vigente e mediante azioni di controllo della
formazione erogata .La presente lettera costituisce autorizzazione per la collaborazione ai sensi del
D. Lgs n. 81/2008 e s.m.i. con EDAFIL e di validazione dell’intervento formativo. E’ prevista una prova
di verifica finale effettuata dalla commissione designata che compilerà apposito verbale.</p>




    </body>
   </html>