   <html>
    <body >



<p style="width:80%; margin-left:10%; text-align: center; position:absolute; margin-top: 4.5cm; font-weight:600; font-size:9pt; font-family: Arial, Helvetica, sans-serif;"> {{corso.tipologia}} </p>

<p style="width:100%; text-align: center; position:absolute; margin-top: 6cm; font-size:5pt; font-style:italic;"> ( {{corso.tipologia.riferimento_legislativo}} )</p>


<p style="position:absolute; margin-top: 7.5cm; font-weight:900; font-size:13pt; font-family: Arial, Helvetica, sans-serif; width:100%; text-align: center; ">{{name}}</p>


<p style="position:absolute; margin-top: 8.3cm; font-size: 7pt; width:100%; text-align: center;">Nat{% if sesso == 'M' %}o{%else%}a{%endif%}: il {{nascita}} </p>

<img style="width: 3.5cm; max-height: 1.5cm;position:absolute; margin-top: 0.9cm; margin-left: 8.4cm;" src="http://mgi.riberadig.it/media/{{logo}}"">

<img style="width: 2.3cm; position:absolute; margin-top: 15.3cm; margin-left: 8.6cm;" src="http://mgi.riberadig.it/media/{{firma}}"">

<p style="width: 80%; position:absolute; text-align: justify;font-size:8pt; font-family: Arial, Helvetica, sans-serif; margin-top: 9cm; margin-left: 1cm;"> Ha frequentato il corso di formazione per <span style="font-weight: 600;"> {{corso.tipologia}} </span> della durata di 12 ore, svoltosi  
	{% for i in lista_sv %}

in data {{ i.0 }} inizio a {{ i.1 }} durata {{ i.2 }} ore,

	{% endfor %}

 presso la sede di {{corso.indirizzo}}  {{corso.citta}} ({{corso.provincia}}) superando la verifica di apprendimento.</p>





<p style="position:absolute; margin-top: 18cm; margin-left: 1cm;font-size: 7pt; text-align: justify; width:65%;">Autorizzazione n. 10012_1/2 del {{corso.data_richiesta}} -  C.F CVLCST78H59C351P
Verifica l'autenticità dell'attestato sul sito: ww.edafil.org 
             CONVENZIONE n. CFAE 1001 </p>

<img style="width: 1.3cm; position:absolute; margin-top: 17.5cm; margin-left: 10.7cm;" src="http://mgi.riberadig.it/static/img/qrcode.png"">



<p style="position:absolute; margin-top: 14.2cm; margin-left: 1.5cm;font-size: 8pt;font-weight:900; font-family: Arial, Helvetica, sans-serif;">EDAFIL
<br>Il Presidente
<br>Marco Antonino Maiorana </p>

<img style="width: 2cm; position:absolute; margin-top: 12.5cm; margin-left: 3.5cm;" src="http://mgi.riberadig.it/static/img/edafil-timbro.jpg"">




      

    </body>
   </html>