@page  {

	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0cm;
	margin-bottom: 0cm;
}

html {

}

body {


	background-image: url('http://edafil.org/static/img/la.jpg');
	background-size: 100%;
	background-repeat: no-repeat;


}



h1 {
    /* personal preference */
    color: red;
}


@page {
  size: 6in 9in;
}